*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(60, 58, 58);
}
body{
   /*  background: #c0c0c0; */
   color: #fff;
}
.container{
    width: 100%;
    margin-top: 1rem;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.form input{
    background: #fff;
}
.form button{
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
#formularioNotas{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}
#formularioNotas input{
    background: #fff;
}
#calcularButton{
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
